
<h1>Olvidaste tu contrasena?</h1>

<p>Ingresa el correo electronico, envia y te llegara un mail para modificarla</p>

<form action="/api/sessions/forgot-password" method="post">
  <input type="email" placeholder="Email" name="userEmail" id="">
  <br>
  <button>Enviar</button>
</form>
