<h1>Restablecer</h1>

<br><br>
<p>Ingresar nueva contrasena</p>

<form action="/api/sessions/reset-password?token={{token}}" method="post">
  <input type="text" placeholder="Nueva contrasena" name="newPassword">

  <button>Restablecer</button>
</form>

{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
{{/if}}
